:root {
  --primary-brand-color: rgba(77, 90, 229, 1);
  --pressed-state-color: rgba(64, 75, 191, 1);
  --dark-color: rgba(46, 47, 66, 1);
  --success-color: rgba(49, 208, 170, 1);
  --text-color: rgba(67, 68, 85, 1);
  --subtle-text-color: rgba(142, 143, 153, 1);
  --accent-color: rgba(231, 233, 252, 1);
  --light-color: rgba(244, 244, 253, 1);
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --hero-backgroundd-color: rgba(46, 47, 66, 0.7);
}
/* BODY */
body {
  background-color: #fff;
  color: rgba(67, 68, 85, 1);
  text-decoration: none;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  /* 'Raleway' */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* HEADER */
nav a {
  color: rgba(46, 47, 66, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%; /* 24/16 */
}
header .logo {
  font-faily: 'Raleway';
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
}
.logo-first-part {
  color: rgba(77, 90, 229, 1);
}
address a {
  color: rgba(67, 68, 85, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%; /* 24/16 */
}

/* FOTER */

footer {
  background-color: rgba(46, 47, 66, 1);
  color: rgba(244, 244, 253, 1);
}
footer .logo {
  color: rgba(244, 244, 253, 1);
  font-faily: 'Raleway';
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
}

/* MAIN PAGE*/
/* Hero page */
.hero {
  background-color: rgba(46, 47, 66, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 56px;
  line-height: 107.142857%; /* 60/56 */
  text-align: center;
}
.hero button {
  background-color: rgba(77, 90, 229, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer; /* 24/16 */
}
.features {
  color: #fff;
}
.features h3 {
  color: rgba(46, 47, 66, 1);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%; /* 24/20 */
}
.features p {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%; /* 24/16 */
}
.what-are-we-doing {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #2e2f42;
}
.team-list h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 111.111111%; /* 40/36 */
  color: #2e2f42;
}

.team-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%; /* 24/20 */
  color: #2e2f42;
}
team-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}
/* PORTFOLIO */
.portfolio {
  background-color: #fff;
}
h1,
h2 {
  display: none;
}
.filter-buttons button {
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%; /* 24/16 */
}
.filter-buttons button:hover,
button:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}
.portfolio-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%; /* 24/20 */
  color: #2e2f42;
}
.portfolio-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%; /* 24/16 */
  color: #434455;
}
